{{define: "body"}}

<!doctype html>
<html land="en">

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; chartset=UTF-8" />
        <title></title>
    </head>

    <body>  
        <p>{{.message}}</p
    </body>
</html>
{{end}}